<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7C7GeLOxsf3mS-oam0QRxMGAw2NpRo9s</string>
	<key>GCM_SENDER_ID</key>
	<string>42709182555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tutorial.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tom-flutterfire-tutorial</string>
	<key>STORAGE_BUCKET</key>
	<string>tom-flutterfire-tutorial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42709182555:ios:486ffcade422df70e3b77e</string>
</dict>
</plist>